/*----------------------------styles.css----------------------------------------------------------
|  Author: Patrick Lin, Nicholas Jones, Sami Bajwa                                                    |
|  Group Name: Some Group Name                                                                        |
|  Emails: pjlin@csu.fullerton.edu, nicholasj898@csu.fullerton.edu, samibajwa@csu.fullerton.edu       |
|  Class: CPSC 254                                                                                    |
|  Instructor: Professor Chen                                                                         |
|  Purpose: This file is a stylesheet for the Chrome extension Frontend.                              |
|  Dependencies: Google Calendar API, Selenium API                                                    |
|  Known Bugs: N/A                                                                                    |
|  Licensing Information: You are free to use or extend this project for educational purposes         |
|  provided that you (1) retain this notice, and (2) provide clear attribution to the developers of   |
|  the project by adding a link to our Github repository:                                             |
|  https://github.com/Arbalest007/CSUF-Events-Extension                                               |
------------------------------------------------------------------------------------------------------*/

.center {
  text-align: center;
}
#updateEvents {
  background-color: rgb(112, 112, 112);
  padding: 0.4em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: rgb(224, 224, 224);
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  border: none;
}
#updateEvents:hover {
  border: none;
  background: orange;
  box-shadow: 0px 0px 1px rgb(185, 184, 184);
}
